<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscador de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Usuarios</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-grid>
        <ion-row class="table-header">
          <ion-col size="4">Nombre</ion-col>
          <ion-col size="4">Apellido</ion-col>
          <ion-col size="3">RUT</ion-col>
          <ion-col size="1">Ver</ion-col>
        </ion-row>

        <ion-row *ngFor="let user of users" class="table-row">
          <ion-col size="4">{{ user.nombre.charAt(0).toUpperCase() + user.nombre.slice(1).toLowerCase() }}</ion-col>
          <ion-col size="4">{{ user.apellido.charAt(0).toUpperCase() + user.apellido.slice(1).toLowerCase() }}</ion-col>
          <ion-col size="3">{{ user.rut }}</ion-col>
          
          <ion-col size="1">
            <ion-button (click)="verDetalles(user)" fill="clear">
              <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
