<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Título de la sección -->
<h2 style="text-align: center;">Noticias Vecinales</h2> <br>
 
  <!-- Noticias semanales -->
  <ion-card style="max-width: 500px; margin: 0 auto; padding: 20px;">
    <img src="https://img.freepik.com/fotos-premium/presentador-noticias-felino-entregando-informe-vivo-ia_894067-8780.jpg" style="width: 100%; height: auto; object-fit: cover;" />
    <ion-card-header>
      <ion-card-title>Noticias Gatunescas</ion-card-title>
      <ion-card-subtitle>Con el gatoniciero de la semana</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Hay mamá que sera lo que quiere el gato?.
    </ion-card-content>
    <ion-button expand="block">Ver noticia</ion-button>
  </ion-card>



</ion-content>
