<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-wrapper">
    <h1>Bienvenido/a</h1>
    <p>Ingresa a tu cuenta para gestionar tu junta de vecinos.</p>

    <!-- Campo de email -->
    <ion-item lines="none" class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item lines="none" class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <!-- Botón de login -->
    <ion-button expand="block" color="primary" (click)="onSubmit()">Iniciar Sesión</ion-button>

    <!-- Link para registro -->
    <p class="register-link">
      ¿No tienes cuenta en la nueva app de tu junta de vecinos? <br>
      <a routerLink="/register">Regístrate aquí.</a>
    </p>
  </div>
</ion-content>
