.table-header {
    font-weight: bold;
    color: #ffffffce;
    padding: 10px 0;
  }
  
  .table-row {
    border-bottom: 1px solid #2c2c2c;
    padding: 10px 0;
  }
  
  ion-card {
    margin: 20px;
  }
  
  ion-card-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
  }
  

  ion-card-title{
    font-size: 1.4rem;
    font-weight: 600;
    color: #f3f3f34d;
  }
  