.custom-content {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-card {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #2a2a2a; /* Para que el fondo oscuro sea más atractivo */
}

.table-header {
  font-weight: bold;
  background-color: #444; /* Color para distinguir encabezado */
  color: #fff;
  padding: 10px;
}

.table-row {
  padding: 10px 0;
  border-bottom: 1px solid #555;
  color: #ccc; /* Color del texto para que destaque más */
}

ion-button {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
}

ion-col {
  text-align: center; /* Alinea el contenido en el centro */
}

@media (min-width: 768px) {
  ion-grid {
    padding: 0 20px;
  }
}
