ion-menu {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding: 20px 0;
}

ion-menu ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-menu ion-note {
  padding-left: 10px;
}

ion-menu ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
  color: #616e7e;
}

ion-menu ion-item ion-label {
  font-weight: 500;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5); /* Cambia el color de fondo del backdrop si es necesario */
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0; /* Bordes redondeados en el contenedor del menú */
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18); /* Sombra del menú */
}
