<ion-header>
  <ion-toolbar>
    <ion-title>Crear Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="crear-actividad-content" padding>
  <form [formGroup]="actividadForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" required></ion-input>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('titulo')?.touched && actividadForm.get('titulo')?.hasError('required')" color="danger">
      El título es requerido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion" required></ion-textarea>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('descripcion')?.touched && actividadForm.get('descripcion')?.hasError('required')" color="danger">
      La descripción es requerida.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Fecha del Evento</ion-label>
      <ion-input type="date" formControlName="fechaEvento" required></ion-input>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('fechaEvento')?.touched && actividadForm.get('fechaEvento')?.hasError('required')" color="danger">
      La fecha de evento es requerida.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Cantidad Máxima de Participantes</ion-label>
      <ion-input type="number" formControlName="cantidadMax" required></ion-input>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('cantidadMax')?.touched && actividadForm.get('cantidadMax')?.hasError('required')" color="danger">
      La cantidad máxima es requerida.
    </ion-note>
    <ion-note *ngIf="actividadForm.get('cantidadMax')?.hasError('max')" color="danger">
      La cantidad máxima no puede ser mayor a {{ maxParticipants }}.
    </ion-note>

    <ion-item>
      <ion-label>Seleccionar Imagen</ion-label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </ion-item>
    <ion-note *ngIf="!selectedFile" color="danger">
      Debes seleccionar una imagen.
    </ion-note>

    <ion-button expand="full" type="submit" class="crear-actividad-button" [disabled]="!actividadForm.valid || !selectedFile">
      Crear Actividad
    </ion-button>
  </form>
</ion-content>
