<ion-header>
  <ion-toolbar>
    <ion-title>Crear Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="crear-actividad-content" padding>
  <form [formGroup]="actividadForm" (ngSubmit)="onSubmit()">
    <!-- Título -->
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" required></ion-input>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('titulo')?.touched && actividadForm.get('titulo')?.hasError('required')" color="danger">
      El título es requerido.
    </ion-note>

    <!-- Descripción -->
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion" required></ion-textarea>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('descripcion')?.touched && actividadForm.get('descripcion')?.hasError('required')" color="danger">
      La descripción es requerida.
    </ion-note>

    <!-- Fecha del evento -->
    <ion-item>
      <ion-label position="floating">Fecha del Evento</ion-label>
      <ion-input type="date" formControlName="fechaEvento" required></ion-input>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('fechaEvento')?.touched && actividadForm.get('fechaEvento')?.hasError('required')" color="danger">
      La fecha del evento es requerida.
    </ion-note>

    <!-- Acompañantes -->
    <ion-item>
      <ion-label position="floating">Número de acompañantes</ion-label>
      <ion-select formControlName="acompanantes">
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note *ngIf="actividadForm.get('acompanantes')?.touched && actividadForm.get('acompanantes')?.invalid" color="danger">
      Selecciona un número válido de acompañantes.
    </ion-note>

    <!-- Imagen -->
    <ion-item>
      <ion-label>Seleccionar Imagen</ion-label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </ion-item>
    <ion-note *ngIf="!selectedFile" color="danger">
      Debes seleccionar una imagen.
    </ion-note>

    <!-- Botón para crear la actividad -->
    <ion-button expand="full" type="submit" [disabled]="!actividadForm.valid || !selectedFile">
      Crear Actividad
    </ion-button>
  </form>
</ion-content>
