ion-content {
  --background: var(--ion-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  h1 {
    font-size: 1.8em;
    color: var(--ion-color-primary);
    margin-bottom: 12px;
    text-align: center;
  }

  p {
    font-size: 0.9em;
    color: var(--ion-color-dark);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
  }

  ion-item {
    margin-bottom: 15px;
    --background: #6e6d6d2d; /* Color de fondo suave y gris claro */
    --border-color: var(--ion-color-medium);
    border-radius: 60px; /* Bordes redondeados */
    padding: 12px; /* Espaciado interno */
  }

  .error-message {
    color: var(--ion-color-danger);
    font-size: 0.8em;
    margin-top: 5px;
  }

  ion-button {
    background-color: var(--ion-color-primary);
    color: white;
    font-weight: bold;

    &:disabled {
      background-color: var(--ion-color-medium);
    }

    &:hover {
      background-color: var(--ion-color-secondary);
    }
  }
}



