<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Espacios de uso público</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">Espacios de uso público</h2>
  <br>

  <ng-container *ngIf="espaciosPublicos && espaciosPublicos.length; else noEventos">
    <ion-card *ngFor="let espacioPublico of espaciosPublicos" style="max-width: 500px; margin: 0 auto; padding: 20px 0 20px 0; margin-bottom: 20px;">
      <!-- Mostrar la imagen desde el campo correcto -->
      <img *ngIf="espacioPublico.image" [src]="espacioPublico.image" alt="{{ espacioPublico.titulo }}" style="width: 100%; height: auto; object-fit: cover;" />

      <ion-card-header>
        <!-- Título capitalizado -->
        <ion-card-title>{{ espacioPublico.titulo | titlecase }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Descripción:</strong> {{ espacioPublico.descripcion | titlecase }}</p>
        <!-- Mostrar la ubicación como un enlace a Google Maps -->
        <p><strong>Ubicación:</strong> <a href="{{ espacioPublico.ubicacion }}" target="_blank">Ver en mapa</a></p>
        <!-- Formatear la fecha de creación correctamente -->
        <p><strong>Fecha de Creación:</strong> {{ formatDate(espacioPublico.fechaCreacion) }}</p>

      </ion-card-content>

      <!-- Botón para postular al evento -->
      <ion-button expand="block" [routerLink]="['/postulacion-espacios-publicos', espacioPublico.id]">Postular a Evento</ion-button>
    </ion-card>
  </ng-container>

  <!-- Mostrar mensaje si no hay eventos disponibles -->
  <ng-template #noEventos>
    <ion-card style="max-width: 500px; margin: 0 auto; padding: 20px;">
      <ion-card-content>
        <h3>No hay espacio publico.</h3>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
