<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles del Espacio Público</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="goBack()" color="light">
    Volver a la lista de espacios públicos
  </ion-button>

  <!-- Si hay detalles del espacio público, se mostrará la información -->
  <ion-card *ngIf="espacioPublicoDetails">
    <ion-card-header>
      <div class="media-previews">
        <ion-card class="preview-card">
          <ion-card-content>
            <!-- Mostrar la imagen si está disponible, si no, mostrar una imagen por defecto -->
            <img *ngIf="espacioPublicoDetails.image; else defaultImage" [src]="espacioPublicoDetails.image" alt="Imagen del espacio público" class="media-image"/>
            <ng-template #defaultImage>
              <img src="assets/default-image.jpg" alt="Imagen no disponible" class="media-image"/>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- Formatear el título para que cada palabra comience con mayúscula -->
      <ion-card-title>
        {{ formatTitle(espacioPublicoDetails.titulo) }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Título: </strong> {{ formatTitle(espacioPublicoDetails.titulo) }}</p>
      <p><strong>Descripción: </strong> {{ formatDescription(espacioPublicoDetails.descripcion) }}</p>
      <p><strong>Ubicación: </strong> <a href="{{ espacioPublicoDetails.ubicacion }}" target="_blank">Ver en mapa</a></p>
      <p><strong>Fecha de Creación: </strong> {{ formatDate(espacioPublicoDetails.fechaCreacion) }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Botones de acción -->
  <ion-button expand="full" color="danger" (click)="deleteDoc()">
    Borrar espacio público
  </ion-button>
<!--  <ion-button expand="full" color="warning" (click)="deshabilitarDoc()">
    Deshabilitar espacio público
  </ion-button>-->
  <ion-button expand="full" color="secondary" (click)="verDetalles(espacioPublicoDetails)">Editar Espacio Público</ion-button>
  <br><br><br>
  <br><br><br>
</ion-content>
