<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">Proyectos Vecinales</h2>
  <br>

  <ng-container *ngIf="proyectos && proyectos.length; else noProyectos">
    <ion-card *ngFor="let proyecto of proyectos" style="max-width: 500px; margin: 0 auto; padding: 20px;">
      <img *ngIf="proyecto.image" [src]="proyecto.image" style="width: 100%; height: auto; object-fit: cover;" />
      <ion-card-header>
        <ion-card-title>{{ proyecto.titulo | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Fecha inicio del proyecto:</strong> {{ formatDate(proyecto.fechaInicio) }}</p>
        <p><strong>Fecha termino del proyecto:</strong> {{ formatDate(proyecto.fechaFin) }}</p>
      </ion-card-content>
      <ion-button expand="block" [routerLink]="['/postulacion-eventos', proyecto.id]">Ver informacion detallada</ion-button>
    </ion-card>
  </ng-container>

  <ng-template #noProyectos>
    <ion-card style="max-width: 500px; margin: 0 auto; padding: 20px;">
      <ion-card-content>
        <h3>No hay proyecto disponibles.</h3>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
