<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Certificado de residencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="certificate-card">
    <ion-card-header class="ion-text-center">
      <ion-card-title class="card-title">Solicitud de Certificado de Residencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full" class="certificate-details">
        <ion-item>
          <ion-label class="label-bold">Nombre completo:</ion-label>
          <ion-note>{{ userData.nombre }} {{ userData.apellidoPaterno }} {{ userData.apellidoMaterno }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="label-bold">Dirección:</ion-label>
          <ion-note>{{ userData.direccion }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="label-bold">RUT:</ion-label>
          <ion-note>{{ userData.rut }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="label-bold">Valor:</ion-label>
          <ion-note>$1.000 CLP</ion-note>
        </ion-item>
      </ion-list>

      <!-- Botón para generar el PDF y pagar -->
      <div class="button-container">
        <ion-button expand="block" color="primary" (click)="generatePDF()" [disabled]="isProcessing">
          Generar y Pagar Certificado
        </ion-button>
      </div>

      <!-- Mensaje de éxito o error -->
      <div *ngIf="pdfGenerationStatus" class="pdf-status-message" 
           [ngClass]="{ 'success': pdfGenerationStatus.success, 'error': !pdfGenerationStatus.success }">
        {{ pdfGenerationStatus.message }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>