<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menú lateral -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Sistema de Unidad Territorial</ion-list-header>
          <ion-note>Bienvenido</ion-note>

          <!-- Menú principal, visible para todos los usuarios -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Mostrar Login y Register si NO está logueado -->
          <ion-list *ngIf="!isLoggedIn">
            <ion-item button (click)="toggleAccountMenu()">
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              <ion-label>Cuenta</ion-label>
              <ion-icon slot="end" [name]="accountMenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
            </ion-item>
            <div *ngIf="accountMenuOpen">
              <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/login" routerDirection="root" lines="none">
                  <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
                  <ion-label>Iniciar sesión</ion-label>
                </ion-item>
                <ion-item routerLink="/register" routerDirection="root" lines="none">
                  <ion-icon slot="start" ios="person-add-outline" md="person-add-sharp"></ion-icon>
                  <ion-label>Registrar cuenta</ion-label>
                </ion-item>
                
              </ion-menu-toggle>
            </div>
          </ion-list>

          <!-- Mostrar menú solo para usuarios activos -->
          <ion-list *ngIf="isLoggedIn && userStatus === 'Activo'">
            <ion-menu-toggle auto-hide="false">
              <ion-item button (click)="logout()" lines="none">
                <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
                <ion-label>Cerrar sesión</ion-label>
              </ion-item>
              
            </ion-menu-toggle>
          </ion-list>

          <!-- Mostrar Logout si el usuario está en estado 'pendiente' -->
          <ion-list *ngIf="isLoggedIn && userStatus === 'Pendiente'">
            <ion-menu-toggle auto-hide="false">
          
              <ion-item button (click)="logout()" lines="none">
                <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
                <ion-label>Cerrar sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

        </ion-list>

        <ion-note><br>Capstone 2024 DuocUC</ion-note>
      </ion-content>
    </ion-menu>

    <!-- Contenedor principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
