ion-item {
    margin-bottom: 15px; /* Espaciado entre documentos */
  }
  
  ion-item div {
    margin-bottom: 5px; /* Espaciado entre nombre y enlace */
  }
  
  a {
    color: blue; /* Color del enlace de descarga */
    text-decoration: underline; /* Subrayar el enlace */
  }
  