<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="goBack()" color="light">
    Volver a la lista de usuarios
  </ion-button>

  <ion-card *ngIf="userDetails">
    <ion-card-content>
      <div class="media-previews">
        <ion-card class="preview-card">
          <ion-card-header>
            <ion-card-title>Foto de Carnet</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="userDetails.foto" [src]="userDetails.foto" alt="Foto de Carnet" class="media-image"/>
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card-header>
        <ion-card-title>
          {{ userDetails.nombre.charAt(0).toUpperCase() + userDetails.nombre.slice(1).toLowerCase() }} 
          {{ userDetails.apellidoPaterno.charAt(0).toUpperCase() + userDetails.apellidoPaterno.slice(1).toLowerCase() }}
          {{ userDetails.apellidoMaterno.charAt(0).toUpperCase() + userDetails.apellidoMaterno.slice(1).toLowerCase() }}
        </ion-card-title>
      </ion-card-header>

      <p><strong>Nombre:</strong> {{ userDetails.nombre.charAt(0).toUpperCase() + userDetails.nombre.slice(1).toLowerCase() }}</p>
      <p><strong>Apellido Paterno:</strong> {{ userDetails.apellidoPaterno.charAt(0).toUpperCase() + userDetails.apellidoPaterno.slice(1).toLowerCase() }}</p>
      <p><strong>Apellido Materno:</strong> {{ userDetails.apellidoMaterno.charAt(0).toUpperCase() + userDetails.apellidoMaterno.slice(1).toLowerCase() }}</p>
      <p><strong>RUT:</strong> {{ userDetails.rut }}</p>
      <p><strong>Correo Electrónico:</strong> {{ userDetails.email }}</p>
      <p><strong>Dirección:</strong> {{ userDetails.direccion }}</p>
      <p><strong>Teléfono:</strong> {{ userDetails.telefono }}</p>
      <p><strong>Rol:</strong> {{ userDetails.tipo.charAt(0).toUpperCase() + userDetails.tipo.slice(1).toLowerCase() }}</p>
      <p><strong>Estado:</strong> {{ userDetails.estado.charAt(0).toUpperCase() + userDetails.estado.slice(1).toLowerCase() }}</p>

      <div class="media-previews">
        <ion-card class="preview-card">
          <ion-card-header>
            <ion-card-title>Documento (Boleta)</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="userDetails.documento" [src]="userDetails.documento" alt="Documento" class="media-image"/>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
