<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestionar nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="usuarioForm">
    <ion-card-header>
      <ion-card-title>
        Gestionar nuevo usuario
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Vista previa de la imagen guardada si está disponible -->
      <div class="media-previews" *ngIf="usuarioForm.get('foto')?.value">
        <ion-card class="preview-card">
          <ion-label position="floating">Foto</ion-label>
          <ion-card-content>
            <img [src]="usuarioForm.get('foto')?.value" alt="Imagen del usuario" class="media-image" />
          </ion-card-content>
        </ion-card>
      </div>

      <div class="media-previews" *ngIf="usuarioForm.get('documento')?.value">
        <ion-card class="preview-card">
          <ion-label position="floating">Documento</ion-label>
          <ion-card-content>
            <img [src]="usuarioForm.get('documento')?.value" alt="Imagen del documento" class="media-image" />
          </ion-card-content>
        </ion-card>
      </div>
  
      <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <!-- RUT del usuario (solo lectura) -->
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input formControlName="rut" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Correo electrónico del usuario (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" type="email" readonly></ion-input>
        </ion-item>
  
        <!-- Nombre del usuario (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Apellido Paterno (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input formControlName="apellidoPaterno" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Apellido Materno (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input formControlName="apellidoMaterno" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Dirección (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input formControlName="direccion" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Teléfono (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="telefono" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Rol (solo lectura) -->
        <ion-item>
          <ion-label position="floating">Rol</ion-label>
          <ion-input formControlName="rol" type="text" readonly></ion-input>
        </ion-item>
  
        <!-- Estado (editable) -->
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-select formControlName="estado" required>
            <ion-select-option *ngFor="let estado of estado" [value]="estado">{{ estado }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="usuarioForm.get('estado')?.invalid && (usuarioForm.get('estado')?.touched || usuarioForm.get('estado')?.dirty)">
          <p class="error-text">El estado es obligatorio.</p>
        </div>
  
        <!-- Botón para guardar cambios -->
        <ion-button expand="full" type="submit" [disabled]="usuarioForm.invalid" color="secondary">
          Guardar cambios
        </ion-button>
        <ion-button expand="full" color="danger" (click)="deleteUser2()">
          Cancelar solicitud (<strong>Eliminar usuario</strong>)
        </ion-button>
        
        <ion-button expand="full" color="warning" (click)="goBack()">Cancelar</ion-button>
      </form>
    </ion-card-content>
    <br><br><br><br>
  </ion-card>
  
</ion-content>
