<ion-header>
  <ion-toolbar>
    <ion-title>Postulación a Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="postulacion-eventos-content" padding>
  <!-- Sección de Datos de la Actividad -->
  <ion-card *ngIf="actividad">
    <ion-card-header>
      <ion-img [src]="actividad.image" *ngIf="actividad.image"></ion-img> <!-- Muestra la imagen de la actividad -->
      <ion-card-title>{{ actividad.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Descripción:</strong> {{ actividad.descripcion }}</p>
      <p><strong>Cantidad Máxima:</strong> {{ actividad.cantidadMax }}</p>
      <p><strong>Cantidad Disponible:</strong> {{ actividad.cantidadDisponible }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Sección de Datos del Solicitante -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Solicitante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre Completo:</strong> {{ nombreSolicitante }}</p> <!-- Muestra el nombre completo del solicitante -->
      <p><strong>Fecha de Solicitud:</strong> {{ obtenerFechaActual() }}</p> <!-- Muestra la fecha actual -->
    </ion-card-content>
  </ion-card>

  <!-- Sección de Postulación -->
  <form [formGroup]="postulacionForm" (ngSubmit)="postular()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Solicitud de Participación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Número de Participantes</ion-label>
          <ion-select formControlName="cantidadParticipantes" required>
            <ion-select-option value="1">1 (Tú)</ion-select-option>
            <ion-select-option value="2">2 (Tú + 1 acompañante)</ion-select-option>
            <ion-select-option value="3">3 (Tú + 2 acompañantes)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note *ngIf="postulacionForm.get('cantidadParticipantes')?.touched && postulacionForm.get('cantidadParticipantes')?.invalid" color="danger">
          Selecciona un número válido de participantes.
        </ion-note>

        <ion-button expand="full" type="submit" [disabled]="!postulacionForm.valid">
          Postular
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
