.custom-content {
  max-width: 100%;
  margin: 0 auto;
}

.custom-card {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #2a2a2a; /* Fondo oscuro */
}

.table-header {
  font-weight: bold;
  background-color: #444; /* Color para distinguir encabezado */
  color: #fff;
  padding: 3px;
}

.table-row {
  padding: 2px; /* Manteniendo el padding original */
  border-bottom: 1px solid #555;
  color: #ccc; /* Color del texto para que destaque más */
  display: flex; /* Usar flexbox para mantener los elementos en línea */
  align-items: center; /* Centrar verticalmente */
}

.table-row:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse */
}

ion-button {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent; /* Botones transparentes */
}

ion-col {
  text-align: center; /* Alinea el contenido en el centro */
  overflow: hidden; /* Evitar desbordamiento del texto */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Mostrar '...' si el texto es muy largo */
}

@media (min-width: 768px) {
  ion-grid {
    padding: 0 20px; /* Espaciado en pantallas medianas */
  }

  .table-header, .table-row {
    padding: 3px; /* Manteniendo el padding original en pantallas más grandes */
  }
 
  

/* Estilo para el botón "Ver Noticias" */
.ver-noticias-button {
  --background: #3880ff; /* Color de fondo */
  --color: white; /* Color del texto */
  --border-radius: 20px; /* Bordes redondeados */
  margin-top: 10px; /* Espaciado superior opcional */
  transition: background 0.3s ease; /* Transición suave para el hover */

  &:hover {
    --background: #3171e0; /* Color al pasar el mouse */
  }
}



}

