<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscador de noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Lista de Noticias</ion-card-title>
      <div class="ion-text-end">
        <ion-button expand="full" routerLink="/visualizacion-noticias" class="ver-noticias-button">
          Ver Noticias
        </ion-button>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <!-- Mostrar las noticias -->
        <ion-item *ngFor="let noticia of noticias">
          <ion-thumbnail slot="start">
            <img *ngIf="noticia.image" [src]="noticia.image" alt="Documento" class="media-image"/>
          </ion-thumbnail>

          <ion-label>
            <strong>Título:</strong> {{ noticia.title | titlecase }}<br />
            <strong>Subtítulo:</strong> {{ noticia.subtitle | titlecase }}<br />
            <strong>Fecha de edicion:</strong> {{ noticia.date }}<br />
          </ion-label>

          <ion-button (click)="administrarNoticia(noticia)" fill="outline" color="secondary" slot="end">
            <ion-icon slot="start" name="settings"></ion-icon>
            Editar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
