<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
 
  <div class="background-img"></div>
  <div class="overlay">
    <br>
    <h1 class="welcome-text">Hola, Bienvenido/a a tu nueva app de tu junta de vecinos.</h1>
    <p>Aquí podrás encontrar información relevante de tu villa, además de solicitar tu documento de residencia y más.</p>
    <br>

  <!--<ion-button expand="block" color="tertiary" routerLink="/login">Iniciar Sesión</ion-button>-->
    <ion-button expand="block" color="secondary" routerLink="/visualizacion-noticias">Últimas Noticias</ion-button>
  </div>

</ion-content>