<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona un día y hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let dia of dias">
      <ion-col>
        <h3>{{ dia.fecha }}</h3>
        <ion-list>
          <ion-item *ngFor="let hora of dia.horas">
            <ion-label>{{ hora }}</ion-label>
            <ion-button 
              [disabled]="isReservado(dia, hora)" 
              (click)="seleccionarHorario(dia.fecha, hora)">
              {{ isReservado(dia, hora) ? 'Reservado' : 'Seleccionar' }}
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mostrar el día y hora seleccionados -->
  <div *ngIf="diaSeleccionado && horaSeleccionada">
    <h2>Día seleccionado: {{ diaSeleccionado }}</h2>
    <h2>Hora seleccionada: {{ horaSeleccionada }}</h2>
    <ion-button (click)="confirmarReserva()">Confirmar Reserva</ion-button>
  </div>
</ion-content>
